.content {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  height: calc(100vh - 80px);
  width: calc(100% - 300px);
  top: 0;
  left: 300px;
  padding-top: 10vh;
}

.content a {
  text-decoration: none;
  width: fit-content;
  height: fit-content;
}

.content-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  border-radius: 5px;
  color: black;
}

.content a:hover .content-box {
  background-color: #16c79a;
  color: white;
}

.content-box .content-icon {
  display: block;
  font-size: 6rem;
  color: #16c79a;
}

.content a:hover .content-box .content-icon {
  color: white;
}

.content-box .text {
  display: block;
  font-size: 14pt;
}
